{% extends "base.html" %}

{% block title %}Flasky - {{ user.username }}{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>{{ user.username }}</h1>
{% if user.name or user.location %}
    <p>
        {% if user.name %}{{ user.name }}{% endif %}
        {% if suer.location %}
            Form<a href="http://map.baidu.com/?q={{ user.location }}">{{ user.location }}</a>
        {% endif %}
    </p>
{% endif %}
{% if current_user.is_administrator() %}
    <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
{% endif %}
{% if user.about_me %}
    <p>{{ user.about_me }}</p>
{% endif %}
<P>
    用户来自：{{ moment(user.member_since).format('L')}}最近一次登录：{{ moment(user.last_seen).fromNow() }}
</P>
<P>
    {% if user == current_user %}
    <a class="btn btn-default" href="{{ url_for('.edit_profile') }}">编辑资料</a>
    {% endif %}
    {% if current_user.is_administrator() %}
    <a class="btn btn-danger" href="{{ url_for('.edit_profile_admin',id=user.id) }}">编辑资料</a>
    {% endif %}
</P>
</div>
{% endblock %}